<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Что в кино">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Что в кино</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  </head>

  <body>







    <nav class="navbar">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Что в кино</a>
        </div>
      </div>
    </nav>

    <div class="container-fluid">

        <div class="row">
            {% for x, y, p, _ in movies_info %}
                {% if _  % 4 == 0 %}
                        <div class="clearfix visible-lg-block"></div>
                {% endif %}
                {% if _  % 3 == 0 %}
                    <div class="clearfix visible-md-block"></div>
                {% endif %}
                {% if _  % 2 == 0 %}
                    <div class="clearfix visible-sm-block"></div>
                {% endif %}
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="thumbnail">
                    <div id="toggeElement{{_}}" style="position:absolute;background-color:white;margin-right:20px;max-height:80%;overflow-y: scroll;">
                            {{p['text']}}
                    </div>
                      <img src="{{p['image']}}" alt="">
                      <div class="caption">
                        <div class="progress">
                          <div aria-valuenow="{{p['aggregateRating']['ratingValue']}}" class="progress-bar progress-bar-striped" role="progressbar" style="width: {{p['aggregateRating']['ratingValue']|float * 20}}%">
                            {{p['aggregateRating']['ratingValue']}}/5 ({{p['aggregateRating']['ratingCount']}} оценок)
                          </div>
                        </div>
                        <h3>{{p['name']}}</h3>
                        <p>{{p['description']}}</p>
                        <div    class="row">
                            <div class="col-xs-6">
                                <a href="#" class="btn btn-primary" role="button">Расписание сеансов</a>
                            </div>
                            <div class="col-xs-6  text-right">
                                <a onclick="return false;" href="#toggeElement{{_}}" style="text-decoration:underline;font-size:larger;">Показать описание</a>
                            </div>
                        </div>
                      </div>
                    </div>
            </div>
            {% endfor %}
        </div>

    </div><!-- /.container -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script>
        thumbs_arr = $(document).find('.thumbnail');
        $(thumbs_arr[0]).find('.progress-bar').attr('aria-valuenow');
        for (var i = 0; i < thumbs_arr.length; i++ ) {
            var progress_bar = $(thumbs_arr[i]).find('.progress-bar');
            var user_rating = parseFloat(progress_bar.attr('aria-valuenow'));
            if (user_rating >= 3.75) {
                progress_bar.addClass('progress-bar-success');
            } else if (user_rating < 3.75 && user_rating >= 2.5 ) {
                progress_bar.addClass('progress-bar-warning');
            } else {
                progress_bar.addClass('progress-bar-danger');
            }
        };

        $("[id^='toggeElement']").hide();

        $("[href^='#toggeElement']").click(function(){
            var description = $(document).find($(this).attr('href'));
            var display = description.is(':visible');
            if ( display === false ) {
                console.log('hide it!');
                height_of_image = description.siblings('img')[0].clientHeight;
                description.height(height_of_image);
                description.slideDown('slow');
          } else if ( display === true ) {
                description.slideUp('slow');
                console.log('show it!');
            }
        });

    </script>



  </body>
</html>
